<div *ngIf="identity" class="navigacion col-lg-1">
  <h1>
    {{title}}
  </h1>
  <span>{{identity.nombre}} {{identity.nombreCompleto}}</span>
</div>
<div class="clearfix">
</div>
<div *ngIf="identity" class="central col-lg-11">
  <p>Estas logueado en la aplicación</p>
  <span class="btn btn-warning" (click)="salir()">
    Cerrar Sesión
  </span>
</div>

<div class="col-lg-12" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <form #loginForm="ngForm" (ngSubmit)="entrar()" class="col-md-7">
      <p>
        <label>Correo Electrónico: </label>
        <input type="email" #correo="ngModel" name="correo"
        [(ngModel)]="usuario.correo" class="form-control" required/>
        <span class="error" *ngIf="!correo.valid && correo.touched">
          El correo es obligatorio papu >:v
        </span>
      </p>
      <p>
        <label>Contraseña: </label>
        <input type="password" #contra="ngModel" name="contra"
        [(ngModel)]="usuario.contra" class="form-control" required/>
        <span class="error" *ngIf="!contra.valid && contra.touched">
          Un momentito, y la contraseña? :v
        </span>
      </p>
      <div *ngIf="msjeError">
        <div class="alert alert-info">
          <strong>Estado:</strong>
          {{msjeError}}
        </div>
      </div>
      <input type="submit" name="entrar" value="Entrar" class="btn btn-primary">
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <form class="col-md-10" action="index.html" method="post">
      <p>
        <label>Nombre:</label>
        <input type="text" class="form-control" required/>
      </p>
      <p>
        <label>Apellidos:</label>
        <input type="text" class="form-control" required/>
      </p>
      <p>
        <label>Correo Electrónico:</label>
        <input type="mail" class="form-control" required/>
      </p>
      <p>
        <label>Password:</label>
        <input type="password" class="form-control" required/>
      </p>
      <p>
        <label>Rol:</label>
        <input type="text" class="form-control" required/>
      </p>
      <input type="submit" class="btn btn-primary" name="registrar" value="Registrar">
    </form>
  </div>
</div>
